<div>
  <p>Incident Details<%= text_area_tag(:message, "", size: "24x6") %><p>
</div>
<div>
  <p>Date <%= Date.today.to_datetime %></p>
</div>
<div>
  <p> Email (optional)<%= email_field(:user, :address) %>
</div>
<div>
  <p>Date of Incident<%= date_field(:task, :started_at) %></p>
<div>
