<h1>Upload Photo or Video</h1>

<button>Upload Video</button>
<div id="container">
<section id="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/yfHAG-Ro6ck" 
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe></section>
</div>
<button>Upload Photo</button>
<img src={user.picture.large} alt="profile" className="thumb"/>
